{{#if session.showModal}}
  {{#my-modal
    closeModal=(action 'dismissModal')
    header="Welcome to Kitter"}}
    <p>{{t "welcome"}}</p>
    <p class="text-muted">PS. {{t "no_humans"}}</p>
    <div>
      <img src="splash.jpg"/>
    </div>
    {{#if setupControllerTask.isRunning}}
      <div class="mt-2">
        {{fa-icon "smile-o" spin=true}} <span class="float-right">{{statusMessage}}</span>
      </div>
    {{/if}}
  {{/my-modal}}
{{/if}}
{{post-form saveAction=(action 'savePost')}}
{{#each model as |post|}}
  {{post-card post=post}}
{{/each}}